h1{
    color:black;
    
}
.te{
    text-align: bottom;
}
.buy{
    background-color:black;
    color: white;
    border-radius: 5px;
}
.container{
    margin: 50px;
    background-color:white;
    height 100px
}
h6{
    color: red;
}
.card{
    border: none;
}
#fg{
    text-align: center;
    
}
